.articlesList {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
  }
  
  .articleItem {
    margin-bottom: 10px;
  }
  
  .articleLink {
    text-decoration: none;
    color: #3a3a3a; /* Синий цвет ссылки */
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .articleLink:hover {
    color: #ff0000; /* Темно-синий при наведении */
    text-decoration: underline;
  }