/* Navigation.module.css */

.container {
    display: flex; /* Используем flexbox для выравнивания элементов в ряд */
    align-items: center; /* Центрируем элементы по вертикали */
    background-color: #ffffff; /* Цвет фона навигации */
    padding: 10px 20px; /* Отступы вокруг контейнера */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* X-offset, Y-offset, Blur-radius, Color */

  }


  
  .link {
    color: #333; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 18px; /* Размер шрифта */
    padding: 10px 15px; /* Внутренние отступы для ссылок */
    border-radius: 5px; /* Закругление углов */
    transition: background-color 0.3s ease; /* Плавный переход фона */
  }
  
.active {
    color: red;
}